.skills {
  display: flex;
  flex-direction: column;
  /* padding-bottom: 20rem; */
}
.skills h1 {
  margin-bottom: 3rem;
}
.skills span {
  color: var(--main-color);
}

.skills-container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.skills-box {
  width: 22rem;
  height: 22rem;
  background-color: var(--second-bg-color);
  padding: 3rem 2rem 2rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid var(--bg-color);
  transition: 0.5s ease;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills-box:hover {
  border: 0.2rem solid var(--main-color);
  transform: scale(1.02);
}

.skills-box i {
  font-size: 7rem;
  color: var(--main-color);
}

.skills-box h2 {
  font-size: 2.6rem;
}

.skills-box .progress-circle {
  background: conic-gradient(var(--main-color) 3.6deg, var(--bg-color) 0deg);
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  position: relative;
}

.skills-box .progress-circle::before {
  position: absolute;
  content: '';
  width: 4.5rem;
  height: 4.5rem;
  background-color: var(--second-bg-color);
  border-radius: 50%;
}

.skills-box .progress-circle .progress {
  position: relative;
  font-size: 1.5rem;
  color: var(--text-color);
}

@media (max-width: 768px) {
  .skills-container {
    margin-top: 1rem;
    gap: 1rem;
  }
}
@media (max-width: 597px) {
  .skills-box {
    width: 25rem;
    height: 25rem;
    padding: 1rem 1rem 1rem;
  }
}
