.home {
  padding: 10rem 9%;
}
.info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info-container h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.info-container h2 {
  display: flex;
  align-items: center;
  font-size: 3.2rem;
  font-weight: 700;
}
.info-details-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
}
.info-container h2:nth-of-type(2) {
  margin-bottom: 2rem;
}
.info-container p {
  text-align: justify;
  font-size: 1.6rem;
  color: var(--text-color);
}
.info-container a {
  margin-bottom: 2rem;
}

.info-container h2 span {
  margin-left: 1rem;

  color: var(--main-color);
  display: block;
  /* white-space: nowrap; */
  /*border-right: 0.3rem solid;
  width: 20ch;
  height: 38px;
  animation: typing 1.5s steps(20), blink 0.5s infinite step-end alternate;
  overflow: hidden; */
}

.image-container {
  display: flex;
  justify-content: center;
  position: relative;
  flex: 1;
}
.image-container img {
  width: 35vw;
  animation: floatAnimation 3s ease-in-out infinite;
  max-width: 65%;
  /* width: 60%; */
  border-radius: 50%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 4px 12px var(--main-color);
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
}

@keyframes floatAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(
      -30px
    ); /* Ajusta la distancia y dirección de la animación */
  }
}

.home .info-container .icon {
  width: 4rem;
  height: 4rem;
  margin-right: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 1rem;
  transition: transform 0.3s ease;
}
.icon:hover {
  transform: scale(1.2);
}

@media (max-width: 1385px) {
  .home {
    flex-direction: column;
  }
  .info-container h2 {
    font-size: 2.6rem;
  }
  .info-container h1 {
    font-size: 5rem;
  }

  .image-container img {
    width: 90vw;
    margin-top: 4rem;
  }
}

@media (max-width: 498px) {
  .home {
    padding: 5rem 5%;
  }

  .info-container {
    margin-top: 2.5rem;
    align-items: center;
    text-align: center;
    display: block;
  }

  .info-container h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .socialmedia-container {
    margin-left: 4rem;
  }
  .image-container {
    display: block;

    order: -1;
    margin-top: 2rem;
    text-align: center;
  }

  .socialmedia-container {
    order: 2;
    text-align: center;
  }

  .downloadButton-container {
    order: 3;
    margin-top: 2rem;
    text-align: center;
  }
}
