.about {
  padding: 10rem 9%;

  background-color: var(--second-bg-color);
}
.about-container {
  gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-image img {
  width: 35vw;
}

.content-title {
  text-align: center;
  font-size: 4.5rem;
}

.about-content h1 {
  text-align: left;
  line-height: 1.2;
}
.about-content span {
  color: var(--main-color);
}
.about-content h2 {
  font-size: 2.6rem;
}
.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}
