.header-container {
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-title {
  padding: 20px;
  font-size: 35px;
}
.header-pages {
  padding: 20px;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 120px;
}
.header-pages > div {
  margin-right: 70px; /* Agrega margen derecho entre los elementos */
}
